*.exe
.vscode
*.o
/sleepdart
/*.ini
/*.szx
/*.zip
/tests/_*

# exclude downloaded wraps, but keep the .wrap files and packagefiles dir.
/subprojects/*
!/subprojects/*.wrap
!/subprojects/packagefiles/
