#include "resource.h"

IDR_MENU1 MENU
BEGIN
    POPUP "File"
    BEGIN
        MENUITEM "Open",                        ID_FILE_OPEN
        MENUITEM "Save",                        ID_FILE_SAVE
        MENUITEM SEPARATOR
        MENUITEM "Quick save\tF5",              ID_FILE_QSAVE
        MENUITEM "Quick load\tF7",              ID_FILE_QLOAD
        MENUITEM SEPARATOR
        MENUITEM "Quit\tAlt+F4",                ID_FILE_QUIT
    END
    POPUP "Machine"
    BEGIN
        MENUITEM "Reset\tF1",                   ID_MACHINE_RESET
    END
    POPUP "Options"
    BEGIN
        MENUITEM "Limit FPS\tF4",               ID_OPTIONS_LIMITFPS
        MENUITEM SEPARATOR
        MENUITEM "Fullscreen\tF11",             ID_OPTIONS_FULLSCREEN
        POPUP "Window scale"
        BEGIN
            MENUITEM "1x",                          ID_WINDOWSCALE_1X
            MENUITEM "2x",                          ID_WINDOWSCALE_2X
            MENUITEM "3x",                          ID_WINDOWSCALE_3X
            MENUITEM "4x",                          ID_WINDOWSCALE_4X
            MENUITEM "5x",                          ID_WINDOWSCALE_5X
        END
        POPUP "Palette"
        BEGIN
            MENUITEM "Reset default",           ID_PALETTE_DEFAULT
        END
        MENUITEM SEPARATOR
        MENUITEM "Hide menu bar\tF8",           ID_OPTIONS_MENUBAR
    END
    POPUP "Help"
    BEGIN
        MENUITEM "About",                       ID_HELP_ABOUT
    END
END
